
        <div ng-view></div>


        <style>
            table, th, td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>

        <style>
            .inlineRow {
                display: inline
            }
        </style>

